.nav-btn-custom {
    background-color: transparent;
    color: #ffc107;
    border: 2px solid #ffc107;
    font-weight: bold;
    text-transform: uppercase;
    ransition: all 0.3s ease-in-out; 
}


.nav-btn-active {
    background-color: #ffc107 !important;
    color: #000 !important;
    border-color: #ffc107;
    box-shadow: 0 0 20px rgba(255, 193, 7, 0.6); 
}


.nav-btn-custom:hover {
    background-color: rgba(255, 193, 7, 0.1);
    color: #ffc107;
    box-shadow: 0 0 10px #ffc107; 
    cursor: pointer;
}